<mat-card>
  <mat-card-header>
    <h1>Authors</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="form-row" [formGroup]="authorForm">
      <div class="form-fields-wrapper">
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input formControlName="name" matInput type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Country</mat-label>
          <input formControlName="country" matInput type="text">
        </mat-form-field>
      </div>
      <div class="form-buttons-wrapper">
        <button [disabled]="authorForm.invalid" mat-button type="button" (click)="addAuthor()">
          <mat-icon>add</mat-icon>
          Add Author
        </button>
      </div>

    </form>
    @for (author of authors(); track author.id; ) {
      <form class="form-row">
        <div class="form-fields-wrapper">
          <mat-form-field>
            <mat-label>Name:</mat-label>
            <input [disabled]="editedAuthorData()?.id !== author.id" matInput type="text"
                   [value]="author.name"
                   (input)="inputChanges('name', $event.target)"
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Country</mat-label>
            <input [disabled]="editedAuthorData()?.id !== author.id" matInput type="text"
                   (input)="inputChanges('country', $event.target)"
                   [value]="author.country">
          </mat-form-field>
        </div>
        <div class="form-buttons-wrapper">
          @if (editedAuthorData()?.id === author.id) {
            <button (click)="saveAuthor()" type="button" color="primary" mat-icon-button>
              <mat-icon>save</mat-icon>
            </button>
          } @else {
            <button (click)="editAuthor(author)" type="button" color="primary" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteAuthor(author?.id)" type="button" color="primary" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          }
        </div>
      </form>
    }
  </mat-card-content>

</mat-card>
